<h2>You chose the word: <%= @word.word %></h2><br>



<% if @definitions.any? %>

<h3>Definitions:</h3>
  <div class="list-group">
    <% @definitions.each do |definition| %>
      <a class="list-group-item list-group-item-action" href="/words/<%= @word.id %>/definition/<%= definition.id %>"><%= definition.definition %></a>
    <% end %>
  </div>
<% else %>
  <h3>Sorry!</h3>
  <p>There are currently no definitions, Please add below.</p>
<% end %>

<% if @update %>

<form action="/words/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="update">Update word Here</label>
    <input id="update" class="form-control" name="update" type="text" required>
  </div>
  <button type="submit" class="btn btn-success">Update</button>
</form><br>

<a class="btn btn-info" href="/words/<%= @word.id %>">Nevermind</a><br>

<% else %>

<form action="/words/<%= @word.id %>" method="post">
  <div class="form-group">
    <label name="definition">Enter definition here</label>
    <input id="definition" class="form-control" name="definition" type="text" required>
  </div>
  <button type='submit' class="btn btn-success">Add Definition</button>
</form><br>

<form action="/words/<%= @word.id %>" method="get">
  <input name="update" type="hidden" value="update">

  <button type="submit" class="btn btn-primary">Update This Word</button>
</form><br>

<form action="/words" method="post">
  <input name="id" type="hidden" value="<%= @word.id %>">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-danger">Delete This Word</button>
</form><br>

<% end %>

<a class='btn btn-info' href="/words">Back to words</a><br>